.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  text-align: left;
  background: rgba(0, 0, 0, 0.7);
  padding: 8px 25px;
  border-radius: 35px;
  opacity: 0.95;
  backdrop-filter: blur(10px);
}

.footer h4 {
  margin: 0;
}

.footer p {
  margin-top: 0;
  font-size: 14px;
}
