.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #111;
  color: #fff;
  padding: 1rem;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: 0.9;
}

.products img {
  border-radius: 5px;
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  object-fit: cover;
  background: #fff;
}

.products button.remove {
  background-color: rgb(201, 58, 58);
  color: #fff;
}

.products button.add {
  background-color: rgb(96, 221, 96);
  color: #000;
}

.filters {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filters div {
  display: flex;
  gap: 10px;
}

header {
  padding: 20px 20px;
  background: rgba(0, 0, 0, 0.7);

  top: 16px;
  border-radius: 20px;
}

header h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.cart-button {
  background-color: #0b0b0b;
}
